interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.kaboom.caltech.edu/auth
  response:
    body:
      string: '{"access_token": "REDACTED", "token_type": "Bearer", "expires_in":
        604800}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"catalog_name": "ZTF_alerts", "object_coordinates": {"query": [280.0,
      -5.0]}, "radius": 5.0, "unit": "Arcseconds", "max_time_ms": 10000}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.kaboom.caltech.edu/queries/cone_search
  response:
    body:
      string: '{"message":"Cone Search on ZTF_alerts completed","data":{"query":[]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
