*~
.*
log
worker*
tmp
node_modules
run
config.yaml
test_config.yaml
github_deploy_key.enc
dbdata
dask-worker-space
webdriver-console
cache
env
kubernetes/config/*

# Git
.git
.gitignore
.gitattributes
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore


# macOS
.DS_Store

# Visual Studio Code
.vscode

# These are built from templates
baselayer/conf/supervisor/supervisor.conf
baselayer/services/dask/supervisor.conf
baselayer/services/app/supervisor.conf
baselayer/services/nginx/nginx.conf
baselayer/conf/nginx.conf
static/build
