.#*
log/
.cache
static/build
doc/_build
doc/openapi.html
run/
geckodriver.log
\#*
*~
*.swp
*.swo
.DS_Store
__pycache__/
node_modules/
*.pyc
config.yaml
static/thumbnails
*.lock
*.dirlock
package-lock.json