version: "3.7"

services:
  web:
    image: skyportal/web
    ports:
      - "9000:5000"
      - "9001:5001"

  db:
    image: postgres:12.2
    environment:
      POSTGRES_USER: skyportal
      POSTGRES_PASSWORD: password
      POSTGRES_DB: skyportal
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - dbdata:/var/lib/postgresql/data/pgdata

volumes:
  dbdata:
