services:
  db:
    container_name: postgres14.4
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_DB: skyportal
      POSTGRES_PASSWORD: password
      POSTGRES_USER: skyportal
    image: postgres:14.4
    restart: on-failure:3
    volumes:
      - ./data/dbdata:/var/lib/postgresql/data:z

  web:
    image: skyportal/web
    ports:
      - "9000:5000"
      - "9001:5001"
    volumes:
      # allow the data files to be mounted across containers
      # if need be with the :z flag
      # cf. https://stackoverflow.com/a/35222815
      - thumbnails:/skyportal/static/thumbnails:z
      - persistentdata:/skyportal/persistentdata:z

volumes:
  dbdata:
  persistentdata:
  thumbnails:
