version: "3.7"

services:
  web:
    image: skyportal/web
    ports:
      - "5000:5000"
      - "5001:5001"
    volumes:
      # allow the data files to be mounted across containers
      # if need be with the :z flag
      # cf. https://stackoverflow.com/a/35222815
      - thumbnails:/skyportal/static/thumbnails:z
      - persistentdata:/skyportal/persistentdata:z

  db:
    image: postgres:14.4
    container_name: postgres14.4
    environment:
      POSTGRES_USER: skyportal
      POSTGRES_PASSWORD: password
      POSTGRES_DB: skyportal
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./data/dbdata:/var/lib/postgresql/data:z
    restart: on-failure:3

volumes:
  dbdata:
  thumbnails:
  persistentdata:
