numpy==1.19.5
scipy==1.6.0
pandas==1.2.0
dask==2020.12.0
joblib==1.0.0
seaborn==0.11.1
bokeh==2.2.3
pytest-randomly==3.5.0
factory-boy==3.2.0
astropy==4.2
aplpy==2.0.3
reproject==0.7.1
avro-python3==1.10.1
fastavro==0.21.7
tqdm==4.23.2
matplotlib==3.3.3
astroquery==0.4.1
apispec==3.3.2
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
marshmallow-enum==1.5.1
Pillow==8.1.0
sncosmo==2.3.0
tdtax==0.1.3
healpix-alchemy==0.1.2
jsonschema==3.2.0
jsonpath_ng==1.5.2
pytest-rerunfailures==9.1.1
timezonefinder==5.0.0
astroplan==0.7
py3-validate-email==0.2.12
alembic==1.4.3
marshmallow-jsonschema==0.10.0
requests_toolbelt==0.9.1
sendgrid==6.4.8
twilio==6.50.1
jsonschema-to-openapi==0.2.1
responses==0.12.1
numba==0.52.0
pyvo==1.1
lxml==4.6.2
suds-py3==1.4.3
