numpy==1.21.4
scipy==1.7.1
pandas==1.2.5
dask==2021.10.0
joblib==1.1.0
seaborn==0.11.2
bokeh==2.4.1
pytest-randomly==3.10.1
factory-boy==3.2.1
astropy>=5.0
aplpy==2.0.3
reproject==0.8
avro-python3==1.10.2
fastavro==1.4.7
tqdm>=4.27,<4.63
matplotlib==3.4.3
astroquery==0.4.4
apispec==4.0.0
marshmallow==3.14.1
marshmallow-sqlalchemy==0.24.3
marshmallow-enum==1.5.1
Pillow==8.3.2
sncosmo==2.5.0
tdtax==0.1.4
healpix-alchemy==1.0.0
mocpy==0.10.0
conesearch-alchemy==1.0.0
regions==0.5
jsonschema==3.2.0
jsonpath_ng==1.5.3
pytest-rerunfailures==10.2
timezonefinder==5.2.0
astroplan==0.8
py3-validate-email==1.0.3
alembic==1.7.4
marshmallow-jsonschema==0.13.0
requests_toolbelt==0.9.1
sendgrid==6.8.2
twilio==7.3.1
jsonschema-to-openapi==0.2.1
responses==0.16.0
numba==0.53.1
pyvo==1.1
lxml==4.6.3
suds-py3==1.4.4.1
vcrpy==4.1.1
aiosmtpd==1.4.2
ligo.skymap>=0.6.0
healpy==1.15.0
pygcn==1.1.1
xmlschema==1.9.0
requests==2.26
