database:
  database: skyportal_test
  user: skyportal
  host: localhost
  port: 5432
  password:

server:
  auth:
    debug_login: True
    google_oauth2_key:
    google_oauth2_secret:

misc:
  photometry_detection_threshold_nsigma: 3.0

twilio:
  # Twilio Sendgrid API configs
  # This needs to be set to a valid, Sendgrid-registered address in config.yaml
  from_email:
  # This needs to be obtained via Sendgrid setup on their site
  sendgrid_api_key:

  # Twilio SMS API configs
  # These values must be valid ones from the Twitter API console
  from_number:
  sms_account_sid:
  sms_auth_token:

invitations:
  enabled: False
  days_until_expiry: 3
  email_subject: "You've been invited to collaborate on SkyPortal"
  email_body_preamble: | # This can include HTML tags
    Welcome to <b>SkyPortal</b>!
    <br />
    Some other text here.

notifications:
  enabled: True

testing: true

test_server:
  module: test_server
  path: skyportal/tests/test_server.py
  redirects:
    # List of routes listened for by the test server, and the real URLs that
    # requests should be redirected to. Requests will be forwarded by the
    # test server, cached, and responses played back to the API as if it came
    # from the real server.
    /node_agent2/node_agent: http://161.72.57.3:8080 # LT

app:
  lt_host: localhost
  lt_port: 64502
