<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SkyPortal</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS generic -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/public_pages/style.css"
    />
    <!-- CSS for source page -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/public_pages/sources/sources_template.css"
    />
    <!-- JS for source page -->
    <script src="/static/public_pages/sources/sources_template.js"></script>
  </head>
  <!-- Body -->
  <body>
    <!-- Header -->
    <header>
      <h1>Public source pages</h1>
    </header>
    <div class="content">
      <div class="searchBar">
        <input
          id="searchBar"
          type="text"
          placeholder="Search..."
          oninput="filterSources()"
        />
      </div>
      {% for source, versions in versions_by_source.items() %}
      <div class="sourceAndVersions" id="{{ source }}">
        <div class="source">
          <h2>
            {{ source }}
            <span>
              <!-- prettier-ignore -->
              {% set time_difference = datetime.datetime.utcnow() - versions[0].created_at %}
            {% if time_difference.days > 0 %}
                {{ time_difference.days }} days,
            {% end %}
              {% if time_difference.seconds > 3600 %}
                {{ time_difference.seconds // 3600 }} hours and
            {% end %}
              {% if time_difference.seconds > 60 %}
              {{ (time_difference.seconds % 3600) // 60 }} minutes ago
              {% else %}
              {{ time_difference.seconds }} seconds ago
            {% end %}
            </span>
          </h2>
          <a href="/public/sources/{{source}}" target="_blank">
            Link to the latest version</a
          >
        </div>
        {% for version in versions %}
        <div class="version">
          <div class="versionId">#{{version.id}}</div>
          <a
            class="boxShadow"
            href="/public/sources/{{ source }}/version/{{ version.created_at_iso }}"
            target="_blank"
          >
            {{ version.created_at.strftime('%m/%d/%Y %H:%M:%S') }} UTC
          </a>
        </div>
        {% end %}
      </div>
      {% end %}
    </div>
  </body>
</html>
