<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SkyPortal</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS generic -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/public_pages/style.css"
    />
    <!-- CSS for source page -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/public_pages/sources/sources_template.css"
    />
    <!-- JS for source page -->
    <script src="/static/public_pages/sources/sources_template.js"></script>
  </head>
  <!-- Body -->
  <body>
    <!-- Header -->
    <header>
      <h1>Public source pages</h1>
    </header>
    <div class="content">
      <div class="searchBar">
        <input
          id="search-bar"
          type="text"
          placeholder="Search..."
          oninput="filterSources()"
        />
      </div>
      {% for source_id, versions in versions_by_source.items() %}
      <div class="sourceAndVersions" id="{{ source_id }}">
        <div class="source">
          <div class="sourceAndTimeAgo">
            <h2>{{ source_id }}</h2>
            {% set time_difference = datetime.datetime.utcnow() - versions[0].created_at %}
            {% set days = time_difference.days %}
            {% set hours = time_difference.seconds // 3600 %}
            {% set minutes = (time_difference.seconds % 3600) // 60 %}
            {% set seconds = time_difference.seconds % 60 %}
            <span class="timeAgo {% if days < 1 %}new{% end %}">
              {% if time_difference.seconds < 60 %}
                {{ seconds }} seconds ago
              {% elif time_difference.seconds < 3600 %}
                {{ minutes }} minutes and {{ seconds }} seconds ago
              {% elif days == 0 %}
                {{ hours }} hours and {{ minutes }} minutes ago
              {% else %}
                {{ days }} days and {{ hours }} hours ago
              {% end %}
            </span>
            <button type="button" onclick="displayVersions('{{ source_id }}')">
              view all...
            </button>
          </div>
          <a href="/public/sources/{{source_id}}" target="_blank">
            Link to the latest version
          </a>
        </div>
        <div
          class="versions"
          id="versions-of-source-{{source_id}}"
          style="display: none"
        >
          {% for index, version in enumerate(versions) %}
          <div class="version">
            <div class="versionId">#{{len(versions) - index}}</div>
            <a
              class="boxShadow"
              href="/public/sources/{{ source_id }}/version/{{ version.hash }}"
              target="_blank"
            >
              {{ version.created_at.strftime('%m/%d/%Y %H:%M:%S') }} UTC
            </a>
          </div>
          {% end %}
        </div>
      </div>
      {% end %}
    </div>
  </body>
</html>
