<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SkyPortal</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- CSS generic -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/public_pages/style.css"
    />
    <!-- CSS for source page -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/public_pages/sources/sources_template.css"
    />
  </head>
  <!-- Body -->
  <body>
    <!-- Header -->
    <header>
      <h1>Public source pages</h1>
    </header>
    <div class="content">
      <!-- prettier-ignore-->
      {% for index, source in enumerate(sources) %}
      {% if index == 0 or source.source_id != sources[index-1].source_id %}
      <div class="source">
        <h2>{{ source.source_id }}</h2>
        <a href="/public/sources/{{source.source_id}}" target="_blank"
          >Access to the latest version of this source</a
        >
      </div>
      {% end %}
      <div class="version">
        <div>#{{source.id}}</div>
        <a
          class="boxShadow"
          href="/public/sources/{{ source.source_id }}/version/{{ source.created_at_iso }}"
          target="_blank"
        >
          {{ source.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
        </a>
      </div>
      {% end %}
    </div>
  </body>
</html>
