header {
  h1 {
    color: white;
  }
}

.content {
  .source {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    h2 {
      margin: 0;
      font-weight: bold;
    }

    a {
      color: rgb(29, 53, 87);
      text-decoration: none;
    }

    &:not(:first-child) {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid lightgray;
    }
  }

  .version {
    padding-left: 5rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 0.5rem;

    a {
      border: 1px solid gray;
      border-radius: 0.2rem;
      padding: 0.2rem 0.4rem;
    }
  }
}
