<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>SkyPortal</title>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- CSS generic -->
    <link rel="stylesheet" type="text/css" href="/static/public_pages/style.css">
    <!-- CSS for source page -->
    <link rel="stylesheet" type="text/css" href="/static/public_pages/sources/source_template.css">
    {% if data.get('photometry') %}
    {% set photometry = data.get('photometry') | tojson | safe %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/utils/csv.js" type="text/javascript"></script>
    <script src="/static/js/utils/photometry.js" type="text/javascript"></script>
    {% endif %}
</head>
<body>
<header>
    <!--Logos-->
    <div>
        <img
                src="/static/images/skyportal_logo_dark.png"
                alt="Logo de croissance"
                width=41
                height=40
        />
    </div>
    <!--Site title-->
    <div>
        <a class=websiteName href="/">
            SkyPortal
        </a>
    </div>
</header>
<!--Page content-->
<div class="content">
    <div class="card">
        <div class="title">
            <h1>
                {{ data['source_id'] }}
            </h1>
        </div>
        <div class="subtitle">
            <h2>
                {{ data['radec_hhmmss'] }}
                <span>
                    (&alpha;,&delta;= {{ data['ra'] }}, &nbsp{{ data['dec'] }})
                </span>
                <span>
                    (<i>l</i>,<i>b</i>={{ data['gal_lon'] }}, &nbsp;{{ data['gal_lat'] }})
                </span>
                {% if data.get('ebv') %}
                <span>
                        E(B-V): {{ data['ebv'] }}
                    </span>
                {% endif %}
            </h2>
            <h2>
                Redshift:
                <span>
                    {{ data['redshift'] }}
                </span>
                {% if data.get('dm') %}
                DM:
                <span>
                        {{ data['dm'] }} mag
                    </span>
                {% endif %}
                {% if data.get('dl') %}
                    <i>D</i><sub>L</sub>:
                    <span>
                        {{ data['dl'] }} Mpc
                    </span>
                {% endif %}
            </h2>
        </div>
        <div class="images">
            {% for thumbnail in data.get('thumbnails') %}
                <div class="imageAndTitle">
                    <div class="title">
                        {% if thumbnail.get('link') %}
                            <a href="{{ thumbnail['link'] }}" target="_blank" rel="noreferrer">
                            {{ thumbnail['header'] }}
                            </a>
                        {% else %}
                            {{ thumbnail['header'] }}
                        {% endif %}
                    </div>
                    <div class="image">
                        <a href="{{ thumbnail['link'] }}" target="_blank" rel="noreferrer">
                            <img
                                    src="{{ thumbnail['public_url'] }}"
                                    alt="{{ thumbnail['alt'] }}"
                                    title="{{ thumbnail['alt'] }}"
                                    loading="lazy"
                                    onerror="
                                        {% if thumbnail.get('public_url') != '#' %}
                                            if (thumbnail.get('type') === 'ls') 
                                                { this.src = '/static/images/outside_survey.png'; } 
                                            else 
                                                { this.src = '/static/images/currently_unavailable.png'; }
                                        {% endif %}"
                            />
                        </a>
                        {% if thumbnail.get('type') != "sdss" %}
                            <img
                                    class="crosshair"
                                    src="/static/images/crosshairs.png"
                                    alt="crosshair"
                            />
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="card photometryCard">
        <div class="titleAndDownload">
            <h3 class="title">
                Photometry
            </h3>
            {% if photometry %}
                <div class="download">
                    <script>
                        function downloadCsv() {
                            photometryToCsv(`{{ photometry }}`, `{{ data['source_id'] }}`);
                        }
                    </script>
                    <button
                            type="button"
                            onclick="downloadCsv()"
                    >
                        Download
                    </button>
                </div>
            {% endif %}
        </div>
        {% if photometry %}
            <div class="photometryType">
                <p>MAG</p>
            </div>
            {% set photometry_div_id = 'photometryPlot' %}
            <div class="photometryPlot" id="{{ photometry_div_id }}">
                <script>
                    plot_lc(`{{ photometry }}`, `{{ photometry_div_id }}`);
                </script>
            </div>
        {% else %}
            <h3 class="noPhotometryPlot">No photometry available</h3>
        {% endif %}
    </div>
</div>
</body>
</html>