.sphx-glr-script-out {
  background-color: #eaeaf2;
}

.sphx-glr-script-out .highlight pre {
  background-color: #eaeaf2;
}

div.sphx-glr-download a {
  background-color: #eaeaf2;
  border-color: #eaeaf2;
  background-image: none;
}
