.releasesTemplate {
  padding-bottom: 2rem;
  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    column-gap: 1rem;
    input {
      margin: 1rem 0;
      padding: 0.5rem 0.5rem;
      border-radius: 0.5rem;
      font-size: 1rem;
    }
    label {
      font-size: 0.8rem;
    }
  }
  .release {
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .nameAndTimeAgo {
      display: flex;
      flex-wrap: wrap;
      gap: 0.2rem 1rem;
      align-items: baseline;
      h2 {
        margin: 0;
        font-weight: bold;
      }
      span {
        font-size: 0.9rem;
        font-weight: normal;
        font-style: italic;
        color: rgb(29, 53, 87);

        &.new {
          color: green;
        }
      }
    }
    .description {
    }
  }
}
