.checkBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 40px;
}

.label {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 700;
}

.labelWrapper {
  font-size: 20px;
  width: 100%;
}

.CheckBox {
  transform : scale(1.8);
  cursor: pointer;
}