.checkBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 40px;
}

/* The styling of the checkbox is inspired by https://codepen.io/BrahmaUI/pen/WgOGQz,
   which is written by @BrahmaUI */


.label {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 700;
}

.labelWrapper {
  font-size: 20px;
  width: 100%;
}


.checkboxLabel {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkboxLabel .CheckBox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkboxLabel .checkboxCustom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 5px;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
    border: 1px solid #D3D3D3;
}


.checkboxLabel .CheckBox:checked ~ .checkboxCustom {
    background-color: #D3D3D3;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 1px solid #D3D3D3;
}

.checkboxLabel .CheckBox:hover ~ .checkboxCustom {
    border: 1px solid rgba(81, 203, 238, 1);
}


.checkboxLabel .checkboxCustom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}


.checkboxLabel .CheckBox:checked ~ .checkboxCustom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.dummy {
  visibility: hidden;
}