.classification {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.classification:hover {
  background-color: #eee;
}

.classificationHeader {
  flex-grow: 4;
  flex-direction: row;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.classificationTime {
  flex-grow: 4;
  color: gray;
  font-size: 80%;
}
.classificationMessage {
  max-width: 20em;
}

.classificationUserName {
  font-weight: bold;
}

.classificationUserDomain {
  color: lightgray;
  font-size: 80%;
  padding-right: 0.5em;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 27px;
  max-width: 20em;
}

.classificationDelete {
  height: 35px;
}
