.comment {
    font-size: 90%;
}

.commentHeader {
    padding-top: 0.3em;
    padding-bottom: 0.1em;
}

.commentMessage {
}

.commentTime {
    color: lightgray;
    font-size: 80%;
}

.commentUser .commentUserDomain {
    display: none;
}

.commentUser:hover .commentUserDomain {
    display: inline-block;
}

.commentUserName {
    font-weight: bold;
}

.commentUserDomain {
    color: lightgray;
    font-size: 80%;
    padding-right: 0.5em;
}

.commentDelete {
    color: lightgray;
    font-size: 70%;
}
