.commentsList {
  overflow-y: scroll;
  max-height: 350px;
}

.comment,
.commentDark {
  font-size: 90%;
  display: flex;
  flex-direction: row;
  padding: 0.125rem;
  margin-bottom: 0.125rem;
  margin-right: 0.125rem;
  border-radius: 1rem;
}

.commentContent {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.3125rem 0.625rem 0.3125rem 0.875rem;
  border-radius: 15px;
}

.comment > .commentContent {
  background-color: #e0e0e0;
}

.commentDark > .commentContent {
  background-color: #3a3a3a;
}

.comment:hover {
  background-color: #e0e0e0;
}

.commentDark:hover {
  background-color: #3a3a3a;
}

.commentHeader {
  flex-grow: 4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-width: 25em;
}

.commentTime {
  color: gray;
  font-size: 80%;
  margin-right: 1em;
}

.commentMessage {
  max-width: 20em;
}

.commentUserName {
  font-weight: bold;
  margin-right: 0.5em;
}

.commentUserDomain {
  color: lightgray;
  font-size: 80%;
  padding-right: 0.5em;
}

.commentUserAvatar {
  display: block;
  margin: 0.5em;
}

.commentUserGroup {
  display: inline-block;
}

.commentUserGroup > svg {
  font-size: 1rem;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 27px;
  max-width: 20em;
}

.commentDelete {
  height: 35px;
}

.commentDark .commentDelete {
  color: #9fa8da;
  border: 1px solid rgba(159, 168, 218, 0.5);
}

.commentDark .commentDelete:hover {
  color: #9fa8da;
  border: 1px solid rgba(159, 168, 218);
  background-color: rgba(159, 168, 218, 0.04);
}
