.comment {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.comment:hover {
  background-color: #ccc;
}

.commentHeader {
  flex-grow: 4;
  flex-direction: row;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.commentTime {
  flex-grow: 4;
  color: lightgray;
  font-size: 80%;
}
.commentMessage {
  max-width: 20em;
}

.commentUserName {
  font-weight: bold;
}

.commentUserDomain {
  color: lightgray;
  font-size: 80%;
  padding-right: 0.5em;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 27px;
  max-width: 20em;
}

.commentDelete {
  height: 35px;
}
