.footer {
    position: fixed;
    bottom: 0;
    background: #38B0DE;
    width: 100%;
    zIndex: -1000;
    text-align: center;
    vertical-align: middle;
    height: 5em;
    color: white;
    font-size: 110%;
    border-top: .25em solid lightgray;
}

.footerContent {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    padding-left: 1em;
    padding-right: 1em;
}

.footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
