.group {
}

.name {
  font-size: 200%;
  font-weight: 900;
  color: darkgray;
  padding-bottom: 0.25em;
}

.plot {
  float: right;
  width: 60%;
}

.comments {
  float: left;
  width: 40%;
}

.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #468847;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
