@keyframes rotateUp {
  0% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

.rotateLogo, .noRotateLogo {
    vertical-align: middle;
    height: 50px;
    margin-top: -0.5em;
}

.rotateLogo {
    animation-name: rotateUp;
    animation-duration: 4s;
}
