.main {
  font-family: "Roboto", sans-serif;
}

.topBannerContent {
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
}

.title {
  text-decoration: none;
  color: white;
  padding-left: 0.4em;
  font-size: 200%;
  font-weight: bold;
  vertical-align: middle;
}

.websocket {
  display: none;
}

.logos {
  display: inline-flex;
  flex-direction: row;
}

.logoContainer {
  margin-top: -0.5em;
  height: 50px;
  border-right: 1px solid white;
  padding: 0 0.75rem;
}

.logoContainer:last-of-type {
  border-right: none;
  padding-right: 0;
}
