.newGroupForm {
    position: relative;
    z-index: 9999;
}
.newGroupFormDiv {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
