.newsFeed,
.newsFeedDark {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 0.3125rem;
  padding-left: 0.3125rem;
  margin-top: 0.625rem;
}

.newsFeed {
  background-color: #fafafa;
}

.newsFeedDark {
  background-color: #333333;
}

.entry {
  display: flex;
  flex-direction: row;
  padding: 0.3125rem 0.625rem 0.625rem 0.3125rem;
  margin-bottom: 0.625rem;
  margin-right: 0.3125rem;
  align-items: center;
}

.entryMessage {
  max-width: 350px;
  margin-bottom: 0.2em;
}

.entryMessage > p {
  margin: 0;
}

.entryContent {
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  display: flex;
  flex-direction: column;
}

.entryAvatar {
  margin-right: 0.6em;
}

.entryIdent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #aaa;
  font-size: 80%;
}

.entryTime {
  margin-left: 0.5em;
}

.entryUser {
  font-weight: bold;
}

.entrySourceId {
  margin-right: 0.5em;
  font-size: 105%;
}

.entrySourceId > a {
  color: #9b9a9a !important;
}

.entryTitle {
  font-size: 0.875em !important;
  padding: 0.3125rem 0.625rem !important;
}
