.newsFeedSubtitle {
  margin-top: 0.5em;
}

.newsFeed {
  display: flex;
  flex-direction: column;
}

.entry {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  padding: 5px 10px 10px 10px;
  margin-bottom: 10px;
  background-color: white;
}

.entryMessage {
  font-style: italic;
  max-width: 350px;
}

.entryHeader {
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}

.entryAvatar {
  margin-right: 0.5em;
}

.entryIdent {
  display: flex;
  flex-direction: column;
}

.entryTime {
  color: #aaa;
  font-size: 80%;
}

.entryUser {
  font-weight: bold;
}
