.whitish {
  color: #eee;
}

.nodecor {
  text-decoration: none;
}

.dropdownTriggerDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .username {
    display: none;
  }

  .dropdownTriggerDiv {
    justify-content: flex-end;
  }
}
