.profileDesktop {
  padding: 1em;
  color: white;
  font-weight: normal;
  float: right;
  vertical-align: middle;
}

.profileMobile {
  position: relative;
  margin-right: 5em;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: white;
  width: 100%;
  z-index: 200;
  background: #38b0de;
  border-bottom: 0.25em solid lightgray;
}

.rule {
  margin-left: 0em;
  margin-right: 0em;
  border-top: 1px solid lightgray;
  width: calc(100% - 2px);
}

.entry {
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.entry:hover {
  background: #38b0de;
  color: white;
}

.entry:hover a {
  color: white;
}

:global(.dropdown) {
  display: inline-block;
  cursor: pointer; /* different names */
  cursor: hand; /* for different browsers */
}

:global(.dropdown__trigger) {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

:global(.dropdown__content) {
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 0 3px 12px darkgray;
  background: white;
  margin-top: 0.5em;
  padding: 0;
  color: gray;
  font-size: 90%;
  position: relative;
  z-index: 200;
}

:global(.dropdown__content) a {
  text-decoration: none;
  color: gray;
}

:global(.dropdown__content) :global(.dropdown--active) {
  display: inline-block;
}

:not(:global(.dropdown--active)) > :global(.dropdown__content) {
  display: none;
}
