.stampContainer {
  display: contents;
}

.stamp {
  transition: transform 0.1s;
  width: 5em;
  height: auto;
  display: block;
}

.stamp:hover {
  transform: scale(1.5);
}

.recentSourcesContainer {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  padding: 10px;
}

.recentSourceList {
  display: block;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.recentSourceItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px;
}

.recentSourceInfo {
  display: flex;
  flex-flow: column wrap;
  margin: 1em 2em;
}

.recentSourceName {
  font-size: 1em;
}

.recentSourceTime {
  color: gray;
}

.quickViewButton {
  visibility: hidden;
  display: none;
}

.recentSourceItemWithButton {
  transition: all 0.3s ease;
}

.recentSourceItemWithButton:hover {
  background-color: #ddd;
}

.recentSourceItemWithButton:hover .quickViewButton {
  visibility: visible;
  display: block;
}

.recentSourceItemWithButton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 10px;
  align-items: center;
}
