.stampContainer {
  display: contents;
}

.stamp {
  transition: transform 0.1s;
  width: 5em;
  height: auto;
  display: block;
}

.stamp:hover {
  transform: scale(1.5);
}

.recentSourcesContainer {
  display: block;
  padding: 1rem;
  height: 100%;
}

.recentSourceListContainer {
  height: calc(100% - 3rem);
  overflow-y: scroll;
  margin-top: 0.625rem;
}

.recentSourceList {
  display: block;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.recentSourceItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0.625rem;
}

.recentSourceInfo {
  display: flex;
  flex-flow: column wrap;
  margin: 1rem 2rem;
}

.recentSourceName {
  font-size: 1rem;
}

.recentSourceTime {
  color: gray;
}

.quickViewButton {
  visibility: hidden;
  display: none;
}

.recentSourceItemWithButton {
  transition: all 0.3s ease;
}

.recentSourceItemWithButton:hover {
  background-color: #ddd;
}

.recentSourceItemWithButton:hover .quickViewButton {
  visibility: visible;
  display: block;
}

.recentSourceItemWithButton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 0.625rem;
  align-items: center;
}
