.stampContainer {
  display: contents;
}

.stamp {
  transition: transform 0.1s;
  width: 5em;
  height: auto;
  display: block;
}

.stamp:hover {
  transform: scale(1.5);
}

.recentSourcesContainer {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.recentSourceList {
  display: block;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.recentSourceItem {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-around; */
  align-items: center;
  margin-bottom: 15px;
  margin-left: 10px;
}

.recentSourceInfo {
  display: flex;
  flex-flow: column wrap;
  margin: 1em 2em;
}

.recentSourceName {
  font-size: 1em;
}

.recentSourceTime {
  color: gray;
}
