.col4 {
    width: 33.333%;
}

.col6 {
    width: 50%;
}

.col12 {
    width: 100%;
}

.searchBoxWrapper {
    position: relative;
}

.searchBox {
    width: 650px;
}

.searchBoxForm {
    position: relative;
    background-color: WhiteSmoke;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05),
    0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.022),
    0 8px 8px rgba(0, 0, 0, 0.020),
    0 16px 16px rgba(0, 0, 0, 0.020);
    border-radius: 8px;
    width: 80%;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
}

.searchBoxFormHeader {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.searchBoxFormInner {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.searchBoxFormInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableSubTitle {
    text-align: center;
}

.inlineButton {
    margin: 20px;
    padding: 5px;
}

.inlineButton:disabled {
    background-color: white;
}

@media only screen and (max-width: 768px) {
    [class*="col"] {
        width: 100%;
    }
    .searchBoxFormInputs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .searchBox {
        width: 120%;
        min-width: 250px;
    }
    .searchBoxFormHeader {
        font-size: 16px;
        font-weight: 700;
        margin: 0px;
    }
    .inputSubmitButton {
        margin: 5px;
    }
}