.source {
}

.leftColumn {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 1em;
}

.rightColumn {
    display: inline-block;
    min-width: 20em;
    vertical-align: top;
}

.name {
    font-size: 200%;
    font-weight: 900;
    color: darkgray;
    padding-bottom: 0.25em;
}

.plot {
    width: 100%;
    overflow: auto;
}

.comments {
}
