.SourceListWrapper {
    width: 70%;
    margin: 30px;
}

table {
    /* margin: 30px; */
    border: 1px solid #eeeeee;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 
    0 2px 2px rgba(0, 0, 0, 0.03), 
    0 4px 4px rgba(0, 0, 0, 0.022), 
    0 8px 8px rgba(0, 0, 0, 0.020),
    0 16px 16px rgba(0, 0, 0, 0.020);
    border-collapse: collapse;
    margin: 30px 10px;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #eeeeee;
}

.innerHeading {
    color: black;
    background-color: white;
}

.outerHeading{
    background-color: #eeeeee;
}

.tableRow:nth-child(odd) {
    background-color: WhiteSmoke
}

.tableSubTitle {
    text-align: center;
}

.inlineButton {
    margin: 20px;
    padding: 5px;
}

.inlineButton:disabled {
    background-color: white;
}