.ThumbnailList {
    display: inline-block;  
    width: 100%;
}

.thumbLink {
    /* display: inline-block; */
}

.Thumbnail {
    display: inline-block;
    padding: 0.2em;
    margin: 0.2em;
}

.Thumbnail img {
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 900px) {
    .Thumbnail img {
        width: 120px;
        height: 120px;
    }

    .dr8 {
        width: 120px;
        height: 120px;
    }
}

.dr8 {
    width: 200px;
    height: 200px;
}

.dr8crosshairs {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    padding-bottom: 0.2em;
}

.thumbnailimgdiv {
    position: relative;
}
