.stamp {
  transition: transform 0.1s;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  vertical-align: middle;
}

.stamp:hover {
  transform: scale(2);
}

.topSourceList {
  display: block;
  align-items: center;
  list-style-type: none;
}

.topSourceListContainer {
  overflow-y: scroll;
  height: calc(100% - 5.5rem);
  margin-top: 0.625rem;
  padding-top: 0.625rem;
}

.topSource {
  margin: 10px;
}
