
.stamp {
    transition: transform 0.1s;
    width: 20%;
    height: 20%;
    margin: 0 auto;
    vertical-align: middle;
}

.stamp:hover {
  transform: scale(2.0);
}

.topSourcesContainer {
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: #DDD;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.ul {
  display: block;
  align-items: center;
  list-style-type: none;
}

.topSource {
  margin: 10px;
}
