.stamp {
  transition: all 0.2s ease-in-out;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  vertical-align: middle;
}

.stamp:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(51, 52, 92, 0.6);
}

.topSourceList {
  display: block;
  align-items: center;
  list-style-type: none;
}

.topSourceListContainer {
  overflow-y: scroll;
  height: calc(100% - 5.5rem);
  margin-top: 0.625rem;
  padding-top: 0.625rem;
}

.topSource {
  margin: 10px;
}
