.stamp {
  transition: transform 0.1s;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  vertical-align: middle;
}

.stamp:hover {
  transform: scale(2);
}

.topSourcesContainer {
  display: block;
  padding: 1rem;
  height: 100%;
}

.topSourceList {
  display: block;
  align-items: center;
  list-style-type: none;
}

.topSource {
  margin: 10px;
}
