header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  a {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.releaseTemplate {
  .name {
    padding-top: 2rem;
    text-align: center;
    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .description {
    text-align: center;
    padding: 1.5rem;
  }

  .sourceAndVersions {
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
    .source {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      flex-wrap: wrap;
      column-gap: 1rem;
      @media screen and (max-width: 600px) {
        row-gap: 0.2rem;
      }

      .sourceAndTimeAgo {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem 1rem;
        align-items: baseline;
        .sourceId {
          position: relative;
          color: rgb(29, 53, 87);
          margin: 0;
          font-weight: bold;

          &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 0;
            background-image: linear-gradient(
              to right,
              rgb(29, 53, 87),
              rgb(50, 91, 167)
            );
            transition: width 0.3s;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
        span {
          font-size: 0.9rem;
          font-weight: normal;
          font-style: italic;
          color: rgb(29, 53, 87);

          &.new {
            color: green;
          }
        }
        button {
          padding: 0 0.5rem;
        }
      }
      a {
        color: rgb(29, 53, 87);
        text-decoration: none;
      }
    }
    .versions {
      margin-bottom: 1rem;
      .version {
        padding-left: 5rem;
        display: flex;
        align-items: center;
        column-gap: 4rem;
        margin-bottom: 0.5rem;
        @media screen and (max-width: 600px) {
          padding-left: 1rem;
          column-gap: 1rem;
        }

        .versionId {
          min-width: 50px;
        }

        a {
          border: 1px solid gray;
          border-radius: 0.2rem;
          padding: 0.2rem 0.4rem;
        }
      }
    }
  }
}
