<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <title>{{ app.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css" />
  </head>
  <body>
    <div class="loginBox">
      <div class="loginHeader">
        <div class="logos">
          {%- for logo in app.logos %}
          <div class="logoContainer">
            <img src="{{ logo.src }}" altText="{{ logo.alt_text }}"  class="logo" />
          </div>
          {%- endfor %}
        </div>
        <span class="title">{% block title %} Apply for a {{ app.title }} account {% endblock %}</span>
      </div>
      <div class="loginText">
        {% block applyText -%}
        <p>{{ user_applications.form_preamble }}</p>
        {%- endblock %}
        {% include "_apply_form.html" %}
        <p><a href="/">Back to sign in</a></p>
      </div>
    </div>
  </body>
</html>
