<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ app.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css" />
  </head>
  <body>
    <div class="loginBox">
      <div class="loginHeader">
        <div class="logos">
          {%- for logo in app.logos %}
          <div class="logoContainer">
            <img src="{{ logo.src }}" altText="{{ logo.alt_text }}"  class="logo" />
          </div>
          {%- endfor %}
        </div>
        <span class="title">Welcome to {{ app.title }}</span>
      </div>
      <div class="loginText">
        <p>{{ app.login_message }}</p>

        <div class="loginButton">
          <a href="/login/google-oauth2">
            <img
              src="/static/images/btn_google_signin_dark_normal_web.png"
              alt="Click this image to log in"
            />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
