<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <title>{{ app.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css" />
  </head>
  <body>
    <div class="loginBox">
      <div class="loginHeader">
        <div class="logos">
          {%- for logo in app.logos %}
          <div class="logoContainer">
            <img src="{{ logo.src }}" altText="{{ logo.alt_text }}"  class="logo" />
          </div>
          {%- endfor %}
        </div>
        <span class="title">{% block title %} Welcome to {{ app.title }} {% endblock %}</span>
      </div>
      <div class="loginText">
        {% block loginText -%}
        <p>{{ app.login_message }}</p>
        {%- endblock %}
        {%- for backend in auth_backends %}
        {%- set button = app.login_buttons | selectattr('url', 'equalto', '/login/' ~ backend.name) | first | default(none) %}
        <div class="loginButton">
          <a href="/login/{{ backend.name }}">
            {%- if button %}
            <img src="{{ button.image }}" alt="{{ button.alt_text }}" />
            {%- else %}
            <span class="loginButtonText">{{ backend.label }}</span>
            {%- endif %}
          </a>
        </div>
        {%- endfor %}
      </div>
    </div>
  </body>
</html>
