interactions:
- request:
    body: '{"graceid": "TEST_EVENT", "api_token": "testtoken",
      "pointings": [{"ra": 16.36364, "dec": -81.85, "band": "g", "instrumentid": "47",
      "status": "planned", "time": "2019-04-25T18:48:23.596", "depth": 0.0, "depth_unit":
      "ab_mag"}, {"ra": 16.36364, "dec": -81.85, "band": "r", "instrumentid": "47",
      "status": "planned", "time": "2019-04-25T18:53:23.596", "depth": 0.0, "depth_unit":
      "ab_mag"}, {"ra": 16.36364, "dec": -81.85, "band": "i", "instrumentid": "47",
      "status": "planned", "time": "2019-04-25T18:58:23.596", "depth": 0.0, "depth_unit":
      "ab_mag"}, {"ra": 0.0, "dec": -89.05, "band": "g", "instrumentid": "47", "status":
      "planned", "time": "2019-04-25T19:03:23.596", "depth": 0[...]
