filt J
magnitude 16.5
exposuretime 40.5
latitude 33.3563
longitude -116.8648
elevation 1742.0
FOV_coverage 4.96
FOV 4.96
FOV_coverage_type square
FOV_type square
tesselationFile ../input/Gattini.tess
slew_rate 1.0
readout 2
horizon 30
timezone US/Pacific
overhead_per_exposure 10.0
slew_rate 1.0
filt_change_time 8
readout 8
