magnitude 21
exposuretime 600.0
latitude 32.779444
longitude 78.964167
elevation 4500.0
FOV_coverage  0.7
FOV 0.7
FOV_coverage_type square
FOV_type square
tesselationFile ../input/GROWTH-India.tess
slew_rate 2.4
readout 8
filt r
horizon 30
timezone Asia/Kolkata
overhead_per_exposure 30.0
slew_rate 1.0
filt_change_time 8
readout 10
