filt r
magnitude 23.3
exposuretime 300.0
latitude 31.9599
longitude -111.5997
elevation 2096
FOV_coverage 0.083
FOV 0.083
FOV_coverage_type square
FOV_type square
tesselationFile ../input/KPED.tess
horizon 30
timezone US/Mountain
overhead_per_exposure 10.0
slew_rate 1.0
filt_change_time 1
readout 1
