filt r
magnitude 20.4
exposuretime 30.0
latitude 33.3563
longitude -116.8648
elevation 1742.0
FOV_coverage 6.86
FOV 6.86
FOV_coverage_type square
FOV_type square
tesselationFile ../input/ZTF.tess
referenceFile ../input/ZTF.ref
horizon 30
timezone US/Pacific
overhead_per_exposure 10.0
slew_rate 1.0
filt_change_time 120.0
readout 8.0
