name: Build/deploy docs

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    if: github.repository_owner == 'skyportal' && github.event.pull_request.draft == false

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: skyportal
          POSTGRES_PASSWORD: anything
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a
        # healthcheck
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: "MercuryTechnologies/delete-cancelled-runs@f5c9d322d9c7afbd41f779199818c1ffe381d34b" #v1.0.0
        with:
          workflow-file: "build-and-deploy-docs.yaml"

      - name: Checkout branch being tested
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Cache dependencies
        uses: ./.github/actions/cache-dependencies

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: actions/setup-node@v5
        with:
          node-version: "22.x"
          package-manager-cache: false

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Write SkyPortal config
        run: |
          cat << EOF > config.yaml
            database:
              database: skyportal
              host: localhost
              port: 5432
              user: skyportal
              password: anything
          EOF

      - name: Install system dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libcurl4-gnutls-dev libgnutls28-dev

          python -m pip install pip==24.0
          pip install numpy wheel
          pip install -r baselayer/requirements.txt
          pip install -r requirements.txt

          export NPM_PACKAGES="${HOME}/.npm-packages"
          export PATH=${NPM_PACKAGES}/bin:$PATH
          export NODE_PATH="$NPM_PACKAGES/lib/node_modules:$NODE_PATH"

          npm -g install npm@latest

      - name: Build docs
        run: |
          make docs
          touch doc/_build/html/.nojekyll

      - name: Deploy docs
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: doc/_build/html
          repository-name: skyportal/docs
          branch: gh-pages
          token: ${{ secrets.DEPLOY_DOCS_TOKEN }}
