name: Test Docker Build

on:
  push:
    branches:
      - main
      - test-docker
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review, labeled]

jobs:
  test:
    if: github.event_name == 'push' || github.event.label.name == 'docker'
    name: Test Docker build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Build Docker image
        run: |
          make docker-local

      - name: Start containers
        run: |
          docker compose up -d

      - name: Test loading demo data
        run: |
          docker exec skyportal-web-1 bash -c 'source /skyportal_env/bin/activate && FLAGS="--create_tables --config=config.yaml" make load_demo_data'
